.fundo {
  background-color: orange;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 150%;
  margin: 0;
}
.titulos {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.pesquisa {
  width: 300px;
  height: 30px;
  text-align: center;
  margin-left: 10px;
}
.minmax {
  font-size: 80%;
  margin-left: 20px;
}
.dados {
  margin-right: 130px;
  margin-left: 20px;
}
.linha {
  border-bottom: solid;
  border-width: 1px;
  border-color: #dcdcdc;
  display: flex;
  align-items: center;
}
.fundoBranco {
  background-color: white;
  color: gray;
}
.cidade {
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}
.tempo {
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
}
.linhaLaranja {
  border-bottom: solid;
  border-width: 1px;
  border-color: orange;
  display: flex;
  align-items: center;
}
.detalhes {
  margin-left: 20px;
  font-size: 17px;
}
.sensacao {
  margin-left: 20px;
}
.vento {
  margin-left: 20px;
  font-size: 20px;
}
.dias {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 8%;
}
.a {
  font-size: 15px;
}
