body {
  background-color: orange;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 150%;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 600px;
}
.tituloPrincipal {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.titulo {
  color: white;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.minmax {
  font-size: 80%;
  margin-left: 20px;
}
.dados {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.fundoBranco {
  background-color: white;
  color: rgba(0, 0, 0, 0.699);
  padding-top: 5px;
  padding-bottom: 10px;
}
.cidade {
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}
.tempo {
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
}
.linhaLaranja {
  border-bottom: solid;
  border-width: 1px;
  border-color: orange;
  display: flex;
  align-items: center;
}
.detalhes {
  font-size: 20px;
}
.dias {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
}
.sensacao {
  font-size: 20px;
}
.temperatura {
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.tempDaSemana {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 6%;
  margin-left: 16px;
}
.coluna {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.invisivel {
  display: none;
}
